[user]
	email = takanori.fukuyama@gmail.com
	name = Takanori Fukuyama
[ghq]
	root = /Users/takanorifukuyama/git
[push]
	default = current
[core]
    paper = delta
[interactive]
    diffFilter = delta --color-only

[delta]
    features = decorations
    whitespace-error-style = 22 reverse
    line-numbers = true
	side-by-side = true
    line-numbers-left-format = ""
    line-numbers-right-format = "│ "

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
