[user]
	email = takanori.fukuyama@gmail.com
	name = Takanori Fukuyama
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFu4z8i7ZQ6r7r+HHhMJ4RNMyS83twXMmr73E+iBD1jx
[ghq]
	root = ~/git
[push]
	default = current
[core]
    paper = delta --theme='Monokai Extended'
    editor = nvim
[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
	  side-by-side = true

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[pull]
	  rebase = false
	default = current
[init]
	  defaultBranch = main
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
